.header-menu-container{
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 62px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    z-index: 9999;
    background-color: white;
}
.navbar-default{
    background: white
}
.nav{
    background-color: white;
}
.navbar-nav>li>a {
    color: #033071 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 700;
}
.navbar-nav>li>a:focus{
    text-decoration: underline;
}

.navbar-nav>.open>a {
    background-color: #ffffff !important;
    color:#033071 ;
}

.dropdown-menu>li>a {
    color: #033071 !important;
    background-color: #ffffff !important;
    padding: 5px 5px 5px 5px !important;
}
.dropdown-menu>li>a:focus{
    text-decoration: underline !important;
}