ul{list-style:none}
hr{height:0;border:0;padding:0;margin:15px 0;border-bottom:1px solid #d9d9d9;background-color:transparent}



.logo-bar {
    display:box;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    box-pack:justify;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    display:-ms-flexbox
}
.logo-bar {
    -webkit-align-self:
    center;-ms-flex-item-align:center;
    align-self:center}

.logo-bar-stacked .logo-bar{max-height:100px}
@media screen and (max-width: 599px){.logo-bar{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}}
.logo-bar img{max-width:70px;width:100%;height:auto;margin:0 10px}
@media screen and (min-width: 400px){.logo-bar img{max-width:90px}}
@media screen and (min-width: 500px){.logo-bar img{max-width:100px}}
@media screen and (min-width: 600px){.logo-bar img{max-width:70px}}
@media screen and (min-width: 700px){.logo-bar img{max-width:90px;margin:0}}
@media screen and (min-width: 900px){.logo-bar img{max-width:110px}}
@media screen and (min-width: 1024px){.logo-bar img{max-width:140px}}
@media screen and (min-width: 800px){.container--medium .logo-bar img{max-width:100px}}
.ie9 .logo-bar li{float:left;display:block;margin-right:4.47761%;width:12.91045%}
.ie9 .logo-bar li:last-child{margin-right:0}

