.slider-box-container {
    background: url('../images/main/main_fon.png') center 0 repeat fixed; min-height: 550px;
    width: 100%;
    display: block;
    position: relative;
    border-bottom-left-radius: 1500px 300px;
    border-bottom-right-radius: 1500px 300px;
    z-index: 999;
}

#home {
    background: url(resources/images/main/main_fon.png) center 0 repeat fixed; min-height: 550px;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}
/*меню(круг) наука*/
.img-menu1-circle{
    background: url("../images/main/menu/nauka.png");
    overflow:hidden;
    background-position: center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    height:300px;
    width:300px;
}

.img-menu1-circle{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img-menu1-circle:hover{
    background: url("../images/main/menu/nauka_hover.png");
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.img-menu2-circle{
    background: url("../images/main/menu/produkcia.png");
    background-position: center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    height:300px;
    width:300px;
    overflow:hidden;
}
.img-menu2-circle{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img-menu2-circle:hover{
    background: url("../images/main/menu/produkcia_hover.png");
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.img-menu3-circle{
    background: url("../images/main/menu/molodej.png");
    background-position: center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    height:300px;
    width:300px;
}

.img-menu3-circle {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.img-menu3-circle:hover{
    background: url("../images/main/menu/molodej_hover.png");;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.science{
    margin: 0px auto;
}
.science p{
    display: block;
    position: absolute;
    height: 120px;
    width: 300px;
    margin: 136px auto;
    vertical-align: middle;
}
.science p a {
    display: block;
    position: relative;
    color: #234e7b !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 22pt !important;
    height: 7em;
    vertical-align: middle;
    font-weight: 800 !important;
    text-align: center !important;
    margin: auto;
    line-height: 30px;
    text-decoration: none;
}
.science p a:focus{
    text-decoration: none;
}

h2.title a {
    font-weight: 800 !important;
}

/* Testimonials Wrap */
#testimonials {
    display: block;
    position: relative;
    margin-top: 10px;
}

/* Contact Wrap */
#contactwrap {
    background-color: #2f2f2f;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#contactwrap p {
    color: #f2f2f2;
}

#contactwrap small {
    font-size: 13px;
}


#contactwrap label {
    color: #f2f2f2;
    margin-top: 10px;
}

.carousel-indicators {
    position: relative;
    bottom: 20px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators {
    margin-top: 30px;
    bottom: 20px;
}
.mt {
    margin-top: 50px;
}
.carousel-inner{
    display: block;
    position: relative;
    width: 500px;
    height: 100px;
    margin: 0px auto;
}
.centered {
    text-align: center
}
.centered p {
    color: #ffffff;
    line-height: 1.4em;
    font-size: 1em;
    font-weight: 400;
}


.testimonials-title {
    /* чтобы линии не выходили за ширину блока заголовка */
    display: block;
    position: relative;
    height: 20px;
    width: 150px;
    overflow: hidden;
    margin: 0px auto;
    color: #ffffff;
}
.testimonials-title:before,
.testimonials-title:after {
    content: '';

    /* делаем линию строчно-блочной */
    display: inline-block;

    /* выравниваем вертикально по середине */
    vertical-align: middle;

    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;

    /* установка ширины в 100% делает линию равной ширине тега заголовка
    ** благодаря этому линия заполнит все свободное пространство
    ** слева и справа от текста
    */
    width: 100%;
    height: 1px;
    background: #ffffff;

    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
    ** благодаря этому создается нужный отступ между линиями и текстом
    */
    border: solid #FFF;
    border-width: 0 0px;
}
.testimonials-title:before {
    /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
    ** благодаря этому линия встает слева от текста
    */
    margin-left: -100%;
}
.testimonials-title:after {
    /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
    ** благодаря этому линия встает справа от текста
    */
    margin-right: -100%;
}

.carousel-indicators li{
    margin-left: 16px !important;
    margin-right: 16px !important;
}