@charset "UTF-8";

#managment-list .managment-image {
    max-width: 100%;
    max-height: 400px;
}

#managment-list .managment-name {
    margin: 0;
}

.managment-name {
    font-size: 22px;
}


.col-md-9 h3 {
    font-size: 14px;
}
