h2.title {
    color: #374a5c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 15px 15px 15px;
    position: relative;
}

h2.title a{
    color: #374a5c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 15px 30px;
    position: relative;
}

h2.title a:hover {
    color: #18bc9c;
    text-decoration: none;
}