h2.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 15px 15px 15px;
    position: relative;
}

h2.title a{
    color: #234e7b !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14pt !important;
    font-weight: 800 !important;
}

h2.title a:hover {
    color: #18bc9c;
    text-decoration: none;
}