.useful{
    display: block;
    position: relative;
    margin-top: 30px;
}
.useful-block{
    display: block;
    position: relative;
    height:410px;
    float: left;
}

.useful-block-photo{
    display: block;
    position: relative;
    margin: 0px auto;
}
.useful-info-title{
    display: block;
    position: relative;
}
.useful-info-title h3, .useful-info-title p {
    text-align: center;
}
.useful-info-title p a{
    text-align: center;
    color: #033071;
}
ul#contact-info li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
ul#contact-info li a{
    color: #033071;
}