.useful{
    display: block;
    position: relative;
    margin-top: 30px;
}
.useful-block{
    display: block;
    position: relative;
    height:420px;
    float: left;
}

.useful-block-photo{
    display: block;
    position: relative;
    margin: 0px auto;
}
.useful-info-title{
    display: block;
    position: relative;
}
.useful-info-title h3, .useful-info-title p {
    text-align: center;
}
.useful-info-title p a{
    text-align: l;
    color: #033071;
}
ul#contact-info li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
ul#contact-info li a{
    color: #033071;
}




/* Landscape phones and portrait tablets */

@media (min-width: 1200px) {
    .useful-block:first-child{
        height: 420px;
    }
}

@media (min-width: 400px) and (max-width: 1200px) {
    .useful-block:first-child{
        height: 420px;

    }
}

/* Portrait phones and smaller */
@media (max-width: 400px) {
    .useful-block:first-child {
        height: 560px;
    }
}