@charset "UTF-8";

#footer {
    padding-top: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 23px;
    color: #fff;
    text-transform: none;
}

#footer a {
    color: rgb(28, 216, 179);
}

#footer h3 {
    color: rgb(221, 221, 221);
}

#contact-info {
    list-style: none;
    padding-left: 0
}

#contact-info .field {
    font-weight: bold;
}

@media (max-width: 767px) {
    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
